html { height: 100%;
       width: 100%;
      font-size: 100%;
}


body { 
      background-color: rgb(176, 224, 230);
      height: 099%;
      display: flex ;
      flex-direction: column;
}

#moncercle{
      background:#ffffff;
      border-radius:50%;
      width: 80%;
      height: 20%;
      border:4px solid #000000;
    
      margin:auto;
}

main{
     display: flex;
     justify-content: space-between;
     height: 100%;
}



#one{
  flex:0.5;
  background-color: rgb(255, 255, 255);
  border:solid #000000;
  border-radius: 20px;
}
   
#entete_langues{
  background-color: rgb(255, 255, 255);
  border:solid #000000;
  border-radius: 20px;
  text-align: center;
}

#entete_logiciel{
  background-color: rgb(255, 255, 255);
  border:solid #000000;
  border-radius: 20px;
  text-align: center;
}


#entete_ci{ 
  background-color: rgb(255, 255, 255);
  border:solid #000000;
  border-radius: 20px;
  text-align: center;


}



#two{
  flex:1;
  background-color: #ffffff;
  border:solid rgb(0, 0, 0);
  border-radius: 20px;
  margin-top: 0%;
  
}


#Trait{
  background-color: rgb(255, 255, 255);
  border:solid #000000 2px;
  width: 355px;
  margin: auto;
  
}
                        
      


#Contact{
  border-radius: 20px;
  border: solid #000000 2px;
  margin: 5%;
  text-align: center;

}

#tel{
  width: 20px;
  height: 20px;
  margin-left: 50px
}

#mail{
    width: 20px;
    height:20px;
    margin-left: 50px;
}


#loc{

  width: 20px;
  height:20px;
  margin-left: 50px;

}


#etf{
  background-color: rgb(255, 255, 255);
  border:solid  #000000 2px;
  border-radius: 20px;
  text-align: center;
  margin: 5%;
}

#link{
  width: 20px;
  height:20px;
  margin-left: 50px;
}






footer {
      background-color: rgb (176, 224, 230);
      color: #ffffff;
      text-align:right ;
      margin-right: auto;
      margin-bottom: 2%;
      align-items: flex-end;
      border: 2px solid rgb(168, 161, 161) ;
      padding: 5px;
      padding-top : 10px;
      margin: 10px;
      margin-left : 30px;
    
    
    }
    
   
  