
body {
    background-color: rgb(176, 224, 230);
}
  
  h1 {
    background-color: rgb(176, 224, 230);
    color: rgb(8, 70, 238);
  }
  
  footer {
    background-color: rgb (176, 224, 230);
    color: #ffffff;
  }

  main{
    background-color: rgb (176, 224, 230);
    color: #fd0a0a;
  }
